/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.written-class {
  color: #799496;
}

.thoughts-class {
  color: #f2d492;
}

.book-class {
  color: #f29559;
}

.recap-class {
  color: #006ba6;
}

.finance-class {
  color: #acc196;
}
.life-class {
  color: #ad7a99;
}
.home-class {
  color: #5a716a;
}
.photo-class {
  color: #f1dac4;
}
.technology-class {
  color: #6dc0d5;
}
.consumption-class {
  color: #a69cac;
}
.review-class {
  color: #700548;
}
.video-class {
  color: #247ba0;
}
.test-class {
  color: red;
}

.inline-href:link, .tag-href:visited {
  color: #5a716a;
}

.tag-href:link, .tag-href:visited {
  color: inherit;
  font: inherit;
}

.utube-embed {
  width: 100%;
  aspect-ratio: 16/9;
}

.vertical-image {
  width: 75%;
  display:block;
  margin:auto;
}

.subtitle {
  width: 75%;
  display:block;
  margin:auto;
  text-align: center;
  font-style: italic;
  line-height: 1em;
  
}

.context-image {
  width: 95%;
  display:block;
  margin:auto;
}

.context-subtitle {
  width: 95%;
  display:block;
  margin:auto;
  text-align: center;
  font-style: italic;
  line-height: 1em;
  
}

.column {
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center-box {
  margin: auto;
}


.post-bar {
  background-color: #202c39;
}
