<!doctype html>
{% extends 'blog/post.html' %}
{% block post %}

<article class="blog-post">
    <h2 class="blog-post-title mb-1">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.pub_date|date:"M d, Y"}} by <a href="/">{{sitewide.about.name}}</a></p>

    <p>{{post.featured_preview}}</p>
    {% comment %} {% include 'blog/tags.html' %} {% endcomment %}
    <hr>

    <h3>What are Recaps?</h3>
    <p>
        Recaps are not reviews, but more of a way to translate my notes I take while reading/watching/listening to
        content
        into planned out thoughts. Don’t expect me to give you a star rating, or a sparknotes style review that allows
        you
        to not read the book. These are just thoughts I had, interesting points, and overall themes that I noticed
        throughout content consumption.
    </p>
    <h2>Family is Everything</h2>
    <p>
        If there is one thing I picked up from reading Tony Dungy’s first book, it is that family is everything. Of
        course
        the whole book has football related references, stories of his time in the NFL, and many other great snippets of
        life advice, but overall what I have in big letters in my notebook is “Family is Everything.” There is no other
        group of people that know you better than your family. Family does not have to be blood related, and a better
        word
        for it might be something cheesy like “circle of trust”. Regardless, I consider family to be those who love you
        the
        most, and who you love the most. Everyone has a different shape that surrounds who they’d call “family,” but
        cherisghing time with them is something that I need to constantly remind myself. It can be easy to isolate
        myself,
        becuase I know what I like the best, but if God wanted us to live alone, I don’t think Eve would have ever
        joined
        Adam in the garden of Eden.
    </p>
    <h2>Perspective</h2>
    <p>
        I chose this book to start off my 12 books goal, one because I knew I would enjoy it, and I already owned it,
        that
        made it easy to pick up and I actually finished it in less than 10 days which at the time was a big deal to me.
        I
        knew that I would enjoy the football references he would make, his stories about his career, and the lessons he
        learned about himself and his relationship with God up to that point in his life. Tony talks about how awesome
        life
        can be when you are winning. Riding the bus or plane home from a game becomes a fun social time with friends.
        Stubbing your toe doesn’t hurt that bad, becuase you’re so excited to keep moving on to the next thing. However,
        those same experiences can bring the exact opposite feelings when things are going right. The seats on the bus
        are
        uncomfortable, the air temperature isn’t right, and you can barely walk with that stubbed toe. It makes me think
        about how perspective is everything. Happy or sad, rich or poor, healthy or sick, each person in this world has
        their own perspective and their own life circumstances that have built their own perspective over time. I myself
        can
        be pretty quick to judge decisions people are making, becuase they aren’t exactly the ones I would make. My type
        A
        personality grinds me into wanting full control over every situation, and everyone in said situation. Rereading
        my
        notes from over 2 years ago has reminded me that even if I am winning or losing that year, day, or moment, that
        the
        person I am interacting with may not be going through the exact same situation, and their perspective is just as
        influential to the outcome of our interaction as my own.
    </p>
    <h2>No Regrets</h2>
    <p>
        Regret has to be one of the harder feelings to live with. What makes it so rough is that typically you know what
        you
        should have done, and you easily could have done it, but for whatever reason, in the moment, you chose not to.
        It
        can dig at you for the rest of you life if you want it to, but what keeps us from just doing the thing that we
        know
        we probably should do…”or we’ll regret it if we don’t.” I don’t want to talk about regret, and then give off the
        idea that I think everyone should live their life with “no regrets.” No, that is what I call reckless living. I
        really think that life needs to be lived in a careful manner, but also with some trust that God has our back. We
        shouldn’t jump out of airplanes without a parachute, that’d be silly, but sometimes opportunities present
        themselves
        and it is our job to take ahold of those opportunities.
    </p>
    <p>
        Opportunities come in God’s time, the first of Nehemiah’s Truths that Tony goes through. We can’t force
        opportunities, and we also shouldn’t ignore them. Tony thought that he had a head coaching job lined up after a
        great year in Tampa, but that fell through and a little while later he found himself packing up his office, and
        looking for a job elsewhere after a what most would say was a successful time with the Bucs.
    </p>
    <p>
        Knowing that God has our back, and he will give us opportunities when the time is right, it is then our job to
        cease
        the opportunites he has given us, and that is how we live without regrets. This sounds pretty easy, except that
        God
        doesn’t deliver opportunities to our front door, with a big red bow on them. Honestly, it is our descernment and
        judgement that we have built through our life experiences that allow us to see the opportunities we are being
        persented, this is built throughout our life as our perspective. If our perspective is more like that of God,
        then
        it is easier to see what he is providing for us. We must continue to mold our perspective by surrounding
        ourselves
        with our family, and leaning in on our relationship with God. None of this is easy, but neither is living life a
        ton
        of regrets.
    </p>

</article>

{% endblock %}