<!doctype html>
{% extends 'blog/post.html' %}
{% block post %}

<article class="blog-post">
    <h2 class="blog-post-title mb-1">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.pub_date|date:"M d, Y"}} by <a href="/">{{sitewide.about.name}}</a></p>

    <p>{{post.featured_preview}}</p>
    <strong class="d-inline-block text-primary">
        {% for tag in post.tags.all %}
        <a>{{tag}} </a>
        {% endfor %}
    </strong>
    <hr>

    <h3>The Idea Behind It</h3>

    <p>If there is one thing you should know about me is that I am not a confident writer. As I wrote papers during
        school, I tended to procrastinate (maybe like yourself). However, I’m not sure I always waited till the last
        minute due to a lack of an idea. Sometimes it was no motivation to write, but looking back I do not think that
        was always the case.</p>

    <p>There is something to say about “God given talents.” Although, I think people tend to use their “God given
        talents” as an excuse not to breach the walls of their comfort zone. I’m an engineer by trade, but should that
        mean that I am not able to live and breath in the creative world? Of course not, so here I am starting a blog.
        What I find fascinating is that I don’t have a specific interest in improving my writing, but I actually want a
        medium to express my other interests in the creative space. I’m sure my writing will get better, and props to
        you for making it this far into my jumbled collection of words thrown together in an attempt to give an idea of
        why a computer engineer is starting a blog.</p>

    <h3>What can you expect from me?</h3>

    <p>My goals for this is to publish 52 times in the next 52 weeks. Ideally this looks like a weekly upload, but
        starting with a low bar that I can consistently jump over, is a motivation technique Im trying to use so I can
        give myself no excuses. There are also no constraints on content. One post might contain an insightful writing
        piece, and the next I'll talk about a cool programming accomplishment I made, who knows what is in store for all
        of us. </p>


    <p>The main goal is for this platform serve as a way for me to let me creative juices flow, but give motivation to
        be creative on average of a weekly basis. The worst thing that can happen to a creative is that they stop
        creating. Let's not let that happen here.</p>

</article>

{% endblock %}