<!doctype html>

{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Custom styles for this template -->
<link href="{% static 'blog/blog.css' %}" rel="stylesheet">

<main class="container mb-auto">
    {%if featured_post_id > 0 %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ featured_post.title }}</h1>
            <p class="lead my-3">{{featured_post.featured_preview}}</p>
            <p class="lead mb-0"><a href="/blog/{{featured_post.id}}" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    {% endif %}
    <div class="row mb-2">
        {% if latest_post_list %}
        {% for post in latest_post_list %}
        {% if featured_post_id != post.id%}
        {% include "blog/single_list_item.html" %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}