<!doctype html>

{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Custom styles for this template -->
<link href="{% static 'blog/blog.css' %}" rel="stylesheet">

<main class="container mb-auto">
    {%if featured_post_id > 0 %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ featured_post.title }}</h1>
            <p class="lead my-3">{{featured_post.featured_preview}}</p>
            <p class="lead mb-0"><a href="/blog/{{featured_post.id}}" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    {% endif %}
    <div class="row mb-2">
        {% if latest_post_list %}
        {% for post in latest_post_list %}
        {% if featured_post_id != post.id%}
        {% comment %} <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 mx-0 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                    {% for tag in post.tags.all %}
                    <a>{{tag}} </a>
                    {% endfor %}
                </strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <div class="mb-1 text-muted">{{post.pub_date|date:"M d, Y"}}</div>
                    <p class="card-text mb-auto">{{post.preview}}</p>
                    <a href="/blog/{{post.id}}/" class="stretched-link">Continue reading</a>
                </div>
                <div class="d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <img width="200" height="250" src="/media/{{post.thumbnail}}"/>

                </div>
            </div>
        </div> {% endcomment %}
        {% include "blog/single_list_item.html" %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    {% comment %} <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                        lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
    </div> {% endcomment %}

</main>
{% endblock %}