<header class="mb-3 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #acc196;">
        <a class="navbar-brand" href="/blog/">griffinsteffy.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/first/">First</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/random/">Random</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" style="color:blue;" href="/about/resume/">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:blue;" href="/admin/">admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:blue;" href="/blog/addpost/">addpost</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red;" href="/category/">category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:blue;" href="{% url 'logout' %}">logout</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input name="search_text" class="form-control mr-sm-2" type="text" placeholder="Search" maxlength="100"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>